<div class="container">

    <h3 class="d-flex justify-content-center">Person Phone Application</h3>
    <h5 class="d-flex justify-content-center">CRUD Project</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <button routerLink="personPhone"
                class = "m1 btn btn-light btn-outline-primary" Button>PersonPhone</button>
            </li>

            <li class="nav-item">
                <button routerLink="phoneType"
                class = "m1 btn btn-light btn-outline-primary" Button>PhoneType</button>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>

<div></div>